.HeaderComponent
{
    background: rebeccapurple;margin-bottom: 1.45rem; 
}

.HeaderComponent h1
{
    margin:0;
}

.HeaderComponent div
{
    margin: 0;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}

.HeaderComponent a
{
    color: white;
    
}